<h1>Booking Details</h1>

<p><strong>For Camera:</strong> Booking n-<%= @booking.id %> for <%= @camera.name %></p>
<p><strong>From User:</strong> <%= @booking.user.first_name %> <%= @booking.user.last_name %></p>

<% if @booking.status == true %>
  <%= link_to "Approve", approve_booking_path(@booking)%>
  <%= link_to "Deny", deny_booking_path(@booking.update), method: :put %>
<% end %>
