<h1>Edit Camera</h1>

<%= simple_form_for @camera do |f| %>
  <div class="form-group">
    <%= f.input :name %><br>
    <%= f.input :details %><br>
    <%= f.input :year %><br>
    <%= f.input :model %><br>
    <%= f.input :category %><br>
    <%= f.input :price %>
  </div>

  <div>
    <%= f.submit "Update Camera" %>

    <%= link_to "Delete", camera_path(@camera), data: {turbo_method: :delete, turbo_confirm: "Delete #{@camera.name}?"} %>
  </div>
<% end %>
