<div class="camera-index-flex">
  <div class="cat-list">
  <% @categories.each do |category| %>
    <%= link_to category, categories_path(category), class: "cat-btn" %>
  <% end %>
  </div>
  <div class="cameras-container">
    <ul class="cameras-cards cameras-box">
      <% @cameras.each do |camera| %>
        <li>
        <div class= "cameras-pic" >
          <%= link_to cl_image_tag(camera.picture.key), camera_path(camera)%>
          </div>
          <div class="cameras-info">
          <%= link_to camera.name, camera_path(camera), class:"cameras-name"%>
          <%= link_to camera.price, camera_path(camera), class:"cameras-price"%>€ <br>
          </div>

        </li>
      <% end %>
    </ul>
  </div>
</div>
<%#<%= link_to "Add a camera", new_camera_path(@camera), class: 'btn btn-primary' %>
