<div class="camera-index-flex">
  <div class="cat-list">
  <% @categories.each do |category| %>
    <%= link_to category, categories_path(category), class: "cat-btn" %>
  <% end %>
  </div>
  <div class="cameras-container">
    <ul class="cameras-cards cameras-box">
      <% @cameras.each do |camera| %>
        <li>
          <%= link_to cl_image_tag(camera.picture.key), camera_path(camera) %>
          <div class="cameras-info">
            <p><%= link_to camera.name, camera_path(camera), class:"cameras-name"%> - <strong><%= camera.model %></strong></p>
          </div>
          <div>
            <%= camera.price %>€
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

