<h1><%= @camera.name %></h1>
<img src=<%= @camera.picture_url %> alt="">
<h4><%= @camera.category %></h4>
<%= @camera.model %> <br>
<%= @camera.year %> <br>
<%= @camera.details %><br>
<br>
<h6>Rent me for: $<%= @camera.price %>/day</h6><br>

<%= link_to "Book this camera", new_camera_booking_path(@camera), class: 'btn btn-primary' %>
<%= link_to "Go back to category", categories_path(@camera.category), class: 'btn btn-primary' %>
<%= link_to "Go back to overview", root_path, class: 'btn btn-primary' %>
