<h1><%= @camera.name %></h1>
<h3><%= @camera.category %></h3>
<%= @camera.price %><br>
<%= @camera.model %> <br>
<%= @camera.year %> <br>
<%= @camera.details %><br>

<%= link_to "Go back to overview", cameras_path %>
